@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 27, 27, 27;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  font: montserrat;
  font-size: 16px;
  font-weight: light;
  color: #CCCCCC;
}

h3 {
  font: montserrat;
  font-size: 14px;
  font-weight: light;
  color: #CCCCCC;
}

h2 {
  font: montserrat;
  font-size: 18px;
  font-weight: semi-bold;
  color: #CCCCCC;
}

h1 {
  font: montserrat;
  font-size: 24px;
  font-weight: semi-bold;
  color: #CCCCCC;
}